[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
jellyfish = "*"
"iso8601" = "*"
pywikibot = "*"
pymysql = "*"
sqlalchemy = "*"
regex = "*"
recordlinkage = "*"
tqdm = "*"
lxml = "*"

[dev-packages]
pylint = "*"
rope = "*"
ipython = "*"
"autopep8" = "*"
ipdb = "*"
autoflake = "*"
