[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
jellyfish = "*"
"iso8601" = "*"
pywikibot = "*"
pymysql = "*"
sqlalchemy = "*"
regex = "*"
recordlinkage = "*"
tqdm = "*"
lxml = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
pylint = "*"
rope = "*"
ipython = "*"
ipdb = "*"
autoflake = "*"
isort = "*"
flake8 = "*"
black = "*"
autopep8 = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
