click
iso8601
joblib
keras
lxml
mlens
pymysql
pywikibot
recordlinkage
regex
sqlalchemy
tqdm
# Dev
autoflake
autopep8
black
flake8
ipdb
ipython
isort
mypy
pip-tools
pylint
sphinx
sphinx-autodoc-typehints
sphinx-click
